* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #000;
  width: auto;
  height: auto;
  overflow: hidden;
}

.react-chatbot-kit-chat-container {
  width: 100vw !important;
  height: 100vh !important;
}

.react-chatbot-kit-chat-inner-container {
  height: 100% !important;
}
